[Unit]
Description=My WSGI Python Service
After=network.target

[Service]
User=root
WorkingDirectory=/opt/cms/cms/
ExecStart=/opt/cms/venv/bin/gunicorn --bind 0.0.0.0:8000 main:app

[Install]
WantedBy=multi-user.target
